/* HEADER-FOOTER STYLES */
header, footer{
  background: #24ca5a;
}

header, footer{
  padding: 30px 10px;
}

header ul, footer ul{
  display: inline-block;
}

header ul li, footer ul li{
  display: inline-block;
}

h3.head-foot-title{
  display: inline-block;
}

/* LEFT BAR */
.container .left-bar{
  float: left;
  padding: 5px;
  width: 25%;
  background: red;
  height: 400px;
}

/* FORM STYLE */
.container .main-view .text-input{
  margin: 10px 0;
}

.container .main-view .text-input button#post-form{
  padding: 10px 20px;
  border-radius: 5px;
  background: white;
  margin-left: 54px;
  border: none;
  box-shadow: inset 1px 1px 3px #aaa;
}

.container .main-view .text-input label{
  display: inline-block;
  width: 50px;
  margin-bottom: 10px;
}

.container .main-view .text-input label.post{
  vertical-align: top;
}

.container .main-view .text-input input[type='text'], .container .main-view .text-input textarea{
  border-radius: 3px;
  border: none;
  padding: 5px;
  width: 300px;
  box-shadow: inset 1px 1px 3px #aaa;
}

.container .main-view{
  float: right;
  padding: 20px 30px;
  width: 75%;
  background: #59ed49;
}

.container .main-view #content .read-only-post{
  border: 1px solid;
  padding: 10px 20px;
  margin: 10px 0;
}
